.f {
  color:red
}

.a:focus {
  color:blue
}
.a:hover {
  color: red;
}
.a:active {
  color: green;
}

.red {
  color: red;
}
.green{
  color: green;
}
.blue {
  color: blue;
}

.m {
  color: red;
}
.n  {
  color: green;
}
.b {
  color: blue;
}
